div{
    outline:2px solid blue;
    height:200px;
    width:auto;
}

.header,
.intro,
.footer{
    background-color: #1f2937;
    padding: 20px;
    text-align: center;
}

.quote{
    background-color: #e5e7eb;
}

#headerlogo{
    width: 30px;
    height: auto;
}
p{
    color: white;
}
.intro{
    height:250px;
    
}