div{
    outline:2px solid blue;

}

.header,
.intro,
.footer{
    background-color: #1f2937;
    text-align: center;
}

.sections{
    padding: 20px 200px;
    margin: 0 -1em;
}

.quote{
    background-color: #e5e7eb;
}

#headerlogo{
    width: 30px;
    height: auto;
}

.header{
    height:auto;
    & > a{
        color:white;
    }
}

.intro{
    height:auto;
    color:white;
}

.info{
    height:auto;
    & > img{
        width: 100px;
        height: auto;
    }
}
.footer{
    color:white;
}